*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f5f5f5;
    padding-top: 46px;
}

.header {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color:#0050B3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.m-menu{
    border: 0;
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: transparent;
    display: none;
    /* flex-direction: column; */
    justify-content: space-around;
    margin-left: 12px; 

}
.m-menu-button-icon{
    fill: #FFFFFF;
}


.header-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input {
    font-size: 14px;
    line-height: 22px;
    padding: 5px 30px 5px 12px;
    width: 100%;
    width: 366px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-panel {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.navigation-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
}

.navigation-link:before {
    
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003a8c;
    margin-right: 12px;
}

.navigation-link:last-child:after {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003a8c;
    margin-left: 12px;
}


.user {
    display: flex;
    align-items: center;
}

.user-avatar {
    margin-right: 8px;
}

.user-name {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.icons-panel {
    display: flex;
    align-items: center; 
    /* их всегда пишем вместе и тогда будет счастье) */
}

.icon-link {
    display: flex;
    align-items: center; 
    margin-left: 17px;
}

.header-icon {
    fill: #002766;
}

.header-icon:hover {
    fill:white;
}

.icon-link:last-child::before{
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003a8c;
    margin-right: 12px;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu-sidebar {
    width: 192px;
    margin-top: 18px;
    margin-right: 12px;
}
.menu-sidebar .user {
    padding-left: 10px;
}
.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
}

.menu-sidebar .user-name {
    color: #262626;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.nav-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}
.nav-text{
    margin-left: 8px;
}

.nav-text.active {
    font-weight: 600;
}

.nav-link {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #595959;
    line-height: 22px;
    font-weight: normal;
    font-size: 14px;
}

.nav-link.active {
    background: #ffffff;
    color: #262626;
}

.nav-title {
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    margin-bottom: 4px;
    margin-top: 0;
}

.main-feed {
    max-width: 588px;
    margin-top: 18px;
}

.create-post {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
}

.create-post-header {
    padding: 9px 16px;
    background: #F5F5F5;

}

.create-post-title {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin: 0;
}

.create-post-body {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-start;
}

.create-post-input {
    width: 100%;
    padding-top: 8px;
}

.create-post-footer {
    display: flex;
    align-items: center;
    padding: 0 16px 16px 16px;
    flex-wrap: wrap;
}

.create-post-footer:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 16px;

}


.tag {
    border: none;
    background: #F5F5F5;
    border-radius: 48px;
    padding: 9px 12px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.tag-icon {
    margin-right: 8px;
}

.post {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px;
}

.post-header {
     display: flex;
     justify-content: space-between;
    margin-bottom: 16px;
}

.post-header-button {
    background-color: #ffffff;
    border: none;
}

.post-header .user-avatar {
    margin-right: 12px;
    width: 48px;
    height: 48px;
}

.post-info {
    display: flex;
    flex-wrap: wrap;
}

.post-author {
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    font-weight: 600;
    text-decoration: none;
}

.post-time {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}

.post-time:after {
 content: "";
 width: 4px;
 height: 4px;
 background-color: #bfbfbf;
 display: inline-block;
 border-radius: 50%;
 margin-right: 6px;
 margin-left: 6px;
 vertical-align: middle;
}
.post-info-time {
    display: flex;
    align-items: center;
}


.post-text {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-bottom: 16px;
}

.post-text a {
    color: #096DD9;
    text-decoration: none;
}

.post-image {
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    max-width: 100%;
}

.likes {
    margin-top: 9px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
}

.likes-counter {
    color: #595959;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin-left: 4px;
}

.post-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post-button {
    background-color: #fff;
    border: none;
    display: flex;
    align-self: center;
}

.post-button-text {
    font-weight: 400;
    font-style: 14px;
    line-height: 22px;
    color:#595959;
    margin-left: 8px;
}

.post-button-icon {
    fill:#595959;
}

.post-footer:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 16px;
}
.right-sidebar {
    width: 384px;
    
}
.stories {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 16px;
    padding: 16px;
    padding-left: 24px;
    margin-left: 24px;
    margin-bottom: 16px;
}

.stories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.stories-title {
    margin: 0;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.story-buttons{
    display: flex;
    align-items: center;
}

.story-button-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #0050B3;
}

.stories-icon {
    vertical-align: middle;
}

.story-button-link:first-child::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #bfbfbf;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
}


.story-item, .story-item-add{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 16px;
}

.story-image {
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1890FF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;  
    margin-right: 12px;
    
}

.story-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    width: 100%;
    display: block;
    
}

.story-text {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #8C8C8C;
    word-wrap: break-word;
}

.figma {
    background-image: url(../img/figma.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid  #1890FF;
}

.concuria {
    background-image: url(../img/concuria.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid  #1890FF;
}

.ant {
    background-image: url(../img/ant.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border: 3px solid  #1890FF;
}

.birthday {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    margin-left: 24px;
    max-height: 56px; 
    max-width: 384px; 
}

.birthday-item{
    align-items: center;
    text-align: center;
}

.birthday-image{
    margin-right: 8px;
}

.birtday-item-text{
    display: flex;
    align-items: center;
    
}

.birthday-text {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #595959;
}

.birthday-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    text-decoration: none;
    width: 100%;    
    margin: 0;
}

.your-page {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-height: 296px; 
    max-width: 384px; 
    padding: 16px;
    padding-left: 24px;
    margin-left: 24px;
    margin-top: 16px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
    height: 32px;
}

.page-header::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
}
.page-item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    max-height: 32px;
    max-height: 94px;
}

.page-image {
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1890FF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;  
    margin-right: 12px;
}

.conCuria {
    background-image: url(../img/concuria.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-icon {
    fill: #262626;
    margin-right: 5px;
}
.page-item-info-icons{
    display: flex;
    align-items: center;
}

.page-info {
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}   

.page-buttons::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 16px;
}

.page-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
    text-decoration-color: #595959;
    text-align: center;
    -moz-text-decoration-color: #595959;
    border-width: 1px;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
    

.followers {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #262626;
}

.page-likes-counter {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #8C8C8C;
    margin-bottom: 16px;
}

@media (max-width: 1250px) {
    .container{
        justify-content: flex-start;
         width: 95%;
    }
    .right-sidebar {
        display: none;
    }
    .header-block{
        width: 95%;
    }
}

@media (max-width: 960px) {
    
  .header .user {
    display: none;
  }
  .navigation-panel{
    display: none;
  }
 

}

@media (max-width: 840px) {
    
    .menu-sidebar {
      position: fixed;
      left: 0;
      top: 25px;
      width: 100%;
      max-width: 250px;
      background-color: #f1f1f1;
      padding-top: 12px;
      height: 100%;
      padding-left: 2%;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
    }
     .menu-sidebar.active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
      .m-menu {
          display: flex;
      }
  }
  @media (max-width: 760px){
      .search {          
          display: none;
      }
  }

